.frame {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    top: -2px;
    left: -3px;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: 0px -128px;
    background-repeat: no-repeat;
    width: 54px;
    height: 54px;
    cursor: pointer;
}
.frame:hover {
    position: absolute;
    top: -2px;
    left: -3.5px;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -142px 0px;
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
}
.icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
}